DEPLOYMENT_URL=https://WaldemarChorow.github.io
DEPLOYMENT_BRANCH=main
BASE_URL=/my-dso-blog/
GITHUB_ORG=WaldemarChorow
GITHUB_PROJECT=my-dso-blog
GIT_REPOSITORY_URL=https://github.com/WaldemarChorow/my-dso-blog
BLOG_ENABLED=false